.vscode
node_modules
dist
.env
.DS_Store
coverage
npm-debug.log
yarn-error.log
.idea
*.log
*.swp
*.bak
*.tmp
*.out
*.class
*.exe
*.dll
*.so
*.dylib
*.pyc
__pycache__/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.iml
out/build/
out/temp/
.cache/
.sass-cache/
thumbs.db
desktop.ini
.vs/
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.logs
logs/*.log
logs/*.gz
logs/*.zip
logs/*.tar.gz
logs/*.rar
logs/*.7z
logs/*.iso
.idea/workspace
.idea/*.iml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/shelf         
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml      
.idea/jsLibraryMappings.xml
.idea/assetWizardSettings.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local/
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/webServers.xml